---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const headings = Astro.props.headings.filter((h) => h.depth === 2 || h.depth === 3);
---

{
  headings.length > 2 && (
    <aside class="toc">
      <h3>On this page</h3>
      <ul>
        {headings.map((h) => (
          <li class={`depth-${h.depth}`}>
            <a href={`#${h.slug}`}>{h.text}</a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
